<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.booktrading.mybatis.mapper.CategoryMapper">

    <insert id="addCategory">
        INSERT INTO `bt_category` (`name`)
        VALUES (#{category.name})
    </insert>

    <delete id="deleteCategoryById">
        DELETE
        FROM `bt_category`
        WHERE `id` = #{id}
    </delete>

    <update id="updateCategory" parameterType="Category">
        update bt_category set name=#{name} where id=#{id}
    </update>

    <select id="get" parameterType="Long" resultType="Category">
        select * from bt_category where id=#{id}
    </select>

</mapper>